<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kadmiv.filmrepo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name="com.kadmiv.filmrepo.app.App"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:theme="@style/AppTheme">
        <activity android:name="com.kadmiv.filmrepo.app.activity_item_details.ActivityItemDetails">
        </activity>
        <activity android:name="com.kadmiv.filmrepo.app.activity_search.ActivitySearch">
        </activity>
        <activity android:name="com.kadmiv.filmrepo.app.activity_main.ActivityMain">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>